.main-header__form {
	max-width: 80%;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 10px;
}

.main-header__form input {
	padding: 5px;
	padding-top: 15px;
	border: 1px solid #000;
	width: 100%;
}

.main-header__form input::-webkit-input-placeholder {
	font-size: 15px;
	color: #2c4377;
	line-height: 1.5;
}

.main-header__form input::-moz-placeholder {
	font-size: 15px;
	color: #2c4377;
	line-height: 1.5;
}

.main-header__form input:-ms-input-placeholder {
	font-size: 15px;
	color: #2c4377;
	line-height: 1.5;
}

.main-header__form input::-ms-input-placeholder {
	font-size: 15px;
	color: #2c4377;
	line-height: 1.5;
}

.main-header__form input::placeholder {
	font-size: 15px;
	color: #2c4377;
	line-height: 1.5;
}

.main-header__form input:focus::-webkit-input-placeholder {
	color: transparent;
}

.main-header__form input:focus::-moz-placeholder {
	color: transparent;
}

.main-header__form input:focus:-ms-input-placeholder {
	color: transparent;
}

.main-header__form input:focus::-ms-input-placeholder {
	color: transparent;
}

.main-header__form input:focus::placeholder {
	color: transparent;
}

.main-header__wrap {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: #fff;
	padding: 10px;
	padding-bottom: 0px;
	border-top: 2px solid #8d8f90;
}

.main-header__logo {
	max-width: 140px;
	width: 100%;
}

.main-header__title {
	font-size: 11px;
	line-height: 1.2;
	color: #2c4377;
	text-transform: uppercase;
}

.main-header__info {
	padding-left: 50px;
}

.main-header__phone {
	font-size: 12px;
	line-height: 1.25;
	color: #2c4377;
	padding-top: 10px;
	text-align: right;
}

.main-header__icons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

.main-header__box {
	border: 2px solid #cacaca;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 5px;
	padding: 0 5px;
	min-height: 40px;
}

.main-header__list {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #fff;
	padding-top: 8px;
	padding-bottom: 12px;
	border-bottom: 2px solid #8d8f90;
}

.main-header__item a {
	font-size: 14px;
	line-height: 1.5;
	color: #2c4377;
	padding-left: 15px;
	padding-right: 15px;
	text-transform: uppercase;
}

